*,
*::before,
**::after {
    box-sizing: border-box;   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #fafafa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.index-bg {
    background-image: linear-gradient(#e66465, #9198e5);
}

.primary-header {
    padding-top: 1rem;
}

.primary-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsla(0, 0%, 0%, 0.3);
}

@supports (backdrop-filter: blur(1.5rem)) {
    .primary-nav {
        background: hsla(0, 0%, 82%, 0.3);
        backdrop-filter: blur(1.5rem);
    }
}

.primary-nav a {
    text-decoration: none;
    color: #111111;
}

.primary-nav a > [aria-hidden="true"] {
    font-weight: bold;
    margin-inline-end: 0.75em;
}

.logo {
    width: 4rem;
    padding-left: 1rem;
}

.mobile-nav-toggle {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* Hidden from visual users - available to SR */
.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

/* max-width / min-width used to reduce amount of css written */
/* 35em = 560px*/
@media (max-width: 35em) {
    .primary-nav {
        position: fixed;
        z-index: 1000;
        /* inset is shorthand for top bottom left right */
        inset: 0 0 0 33%;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;

        padding: min(25vh, 15rem) 3rem;
        background: hsla(0, 0%, 82%, 0.3);
        backdrop-filter: blur(1.5rem);

        transform: translateX(100%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        font-size: 1.5rem;
        width: 2.5rem;
        aspect-ratio: 1;
        top: 2.5rem;
        right: 2.5rem;
        border: none;
        background: none;
    }
}